__pycache__/
*.pyc
*.log
.DS_Store
.env
venv/

# Results, commands, and data files
commands/
*.sh
*.xlsx

data/
results/inter_vs_imper
results/length_variation
results/letter_case
results/politeness
results/punctuation
results/spacing
# IDE
.idea/
.claude/